@page
<div class="container">
    <div class="row p-1">
        <div class="col-12">
            <ul id="tradesList"></ul>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/hubs.js"></script>